{% extends "!breadcrumbs.html" %}

{% block breadcrumbs %}

  <div><a href="https://www.devdays.com"><img src="{{ pathto('_static/images/banner.png', 1) }}" alt="FHIR DevDays banner"/></a></div>
  <hr/>
	<li><a href="{{ pathto(master_doc) }}">{{ _('Firely Docs') }}</a> &raquo;</li>
	{% for doc in parents %}
		{% if loop.index == 1 %}
			{% if _('firelyserver') in pagename %}
				<li><a href="{{ doc.link|e }}">Firely Server</a> &raquo;</li>
			{% elif _('mappingengine') in pagename %}
				<li><a href="{{ doc.link|e }}">FHIR Mapper</a> &raquo;</li>
			{% elif _('vonkloader') in pagename %}
				<li><a href="{{ doc.link|e }}">VonkLoader</a> &raquo;</li>
			{% endif %}
		{% else %}
			<li><a href="{{ doc.link|e }}">{{ doc.title }}</a> &raquo;</li>
		{% endif %}
	{% endfor %}
    <li>{{ title }}</li>
{% endblock %}
